body {
  background-image: url('../Images/PlaneWalkers1.jpg');
}
/* body { */
    /* background-color: darkslategrey; */
    /* color: black; */
    /* font-size: 1.1em; */
  /* } */
  h1 {
    color: coral;
  }
  label{
    color: coral;
  }
  legend {
    color: red;
  }
  #intro {
    font-size: 1.3em;
  }
  .colorful {
    color: orange;
  }
  section {
    border: 5px solid black;
    padding: 10px;
    background-color: #dbfffe;
  }
  
  /* Desendant Example */
  section p {
    color: blueviolet;
  }
  
  /* Child Combinator */
  section > p {
    color: blue;
  }
  
  /* Adjacent Sibling Combinator */
  h2 + p {
    color: pink;
  }
  /* General Sibling Combinator */
  h2 ~ p {
    color: gold;
  }

  #box5 {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    transition-duration: 3s;
    justify-content: center;
 }
 #box5:hover {
    transform:rotate(360deg);
 }
  